<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://1234yosuke.github.io/styles/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet"> 
        <title>{{ page.title }}</title>
    </head>
    <body>
        <header>
            <h1>Compression Ratio</h1>
        </header>
        {{ content }}
        <footer>
            <p>&copy; ZIP 2021</p>
        </footer>
    </body>
</html>