* {
    margin: 0px;
    padding: 0px;
}

header {
    margin: 0;
    padding: 0;
    background-color: black;
    color:aliceblue;
}

h1 {
    font-family: 'DotGothic16', sans-serif;
    margin-left: 5px;
}

h2 {
    font-family: 'DotGothic16', sans-serif;
    margin-left: 7px;
}

h3 {
    font-family: 'DotGothic16', sans-serif;
    margin-left: 9px;
}

h4 {
    font-family: 'DotGothic16', sans-serif;
    margin-left: 11px;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
}
